{
  "importOrder": [
    "^next",
    "^(react|react-dom)$",
    "^@metaplex-foundation/mpl-candy-machine",
    "^@metaplex-foundation/mpl-token-metadata",
    "^@metaplex-foundation/mpl-toolbox",
    "^@metaplex-foundation/umi",
    "^@metaplex-foundation/umi-bundle-defaults",
    "^@metaplex-foundation/umi-signer-wallet-adapters",
    "^@radix-ui/react-slot",
    "^@radix-ui/react-toast",
    "^@solana/wallet-adapter-base",
    "^@solana/wallet-adapter-react",
    "^@solana/wallet-adapter-react-ui",
    "^@solana/wallet-adapter-wallets",
    "^@solana/web3.js",
    "^@tabler/icons-react",
    "^@trivago/prettier-plugin-sort-imports",
    "^@types/node",
    "^@types/react",
    "^@types/react-dom",
    "^bigint-buffer",
    "^class-variance-authority",
    "^clsx",
    "^dayjs",
    "^eslint",
    "^eslint-config-next",
    "^lucide-react",
    "^postcss",
    "^prettier",
    "^prettier-plugin-tailwindcss",
    "^tailwind-merge",
    "^tailwindcss",
    "^tailwindcss-animate",
    "^typescript",
    "^@/app/",
    "^@/components/",
    "^@/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}